#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.content-layout {
  background-color: #d7ddec;
}

.card {
  width: 700px;
}

.flex-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redNumbers {
  color: red;
}

.greenNumbers {
  color: #00a000;
}
.whiteText{
  color:#fff
}

.marginh1weird {
  margin: 10px 0px 0px 50px;
}
.background {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/background.png");
  background-color: #244bc5;
  background-size: cover;
}

.transparentInput{
  border-color: #6796af !important;
  outline: none;
  background: transparent !important;
  text-align: center;
  background-color: transparent !important;
  color: #F1F2EF !important;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}